* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.background {
    width: 600px;
    height: auto;
}

.firstcontainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 60vh;
    padding: 0 20px;
    gap: 15px;
    background-image: url(https://cdn.pixabay.com/photo/2013/06/08/17/06/underwater-123282_960_720.jpg);
}

.btncontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
}

.btn {
    display: flex;
    flex: 1;
    gap: 25px;
}

button {
    padding: 9px 12px;
    height: 35px;
    font-weight: bold;
    width: 165px;
    color: rgb(0, 0, 0);
    font-size: 14px;
    background-color: rgb(15, 133, 141);;
    border-radius: 12px;
    transform: 0.3s;
}

button:hover {
    transform: scale(1.05);
    color: rgb(212, 209, 209);

}

.h1 {
    font-size: 20px;
    max-width: 300px;
    margin: 0;
    padding: 0;
    line-height: 0.7em;
    display: flex;
    color: rgb(211, 211, 211);
    justify-content: flex-start;
    align-items: center;
}

.sub {
    flex-shrink: 0;
    font-size: 20px;
    display: flex;
    color: rgb(212, 212, 212);
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.nav {
    display: flex;
    justify-content: space-between;
    font-size: 19px;
    color: rgb(255, 255, 255);
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: rgb(15, 133, 141);
}

.navright, .navleft {
    display: flex;
    gap: 16px;
    padding: 8px 25px;
}

.secondcontainer {
    background-color: rgb(0, 0, 0);
    flex-direction: column;
    height: 60vh;
    color: rgb(36, 36, 36);
    font-weight: bold;
    padding: 0 20px;
    gap: 19px;
    display: flex;
}

.txt {
    color: rgb(216, 216, 216);
    max-width: 350px;
    font-size: 15px;
    margin-bottom: 30px;
}

.bak {
    color: rgb(212, 212, 212);
    font-size: 30px;
    font-weight: bold;
    padding: 15px 0px;
    background-color: black;
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.mothercontainer {
    display: flex;
    justify-content: space-around;
    gap: 5px;
    padding: 30px 26px;
    background-color: rgb(7, 4, 19);
    
}




.mothercontainer2 {
    background-color: black;
    margin-top: 10px;
    

}

.firstcont2 {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallerycontainer {
    display: flex;
    padding: 40px 40px;
    gap: 18px;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    background-color: white;
}

.galleryimg {
    width: 140px;
    height: 140px;
    display: flex;
    flex: 1;
    object-fit: contain;
    
}

.gallerycards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 13px 9px;
    gap: 7px;
    width: 200px;
    height: 200px;
    background-color: rgb(207, 207, 207);
}


.mothercontainer3 {
    background-color: rgb(199, 198, 198);
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-style: italic;
    color: rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
    padding:70px 50px;
}

.testimonialname {
    margin-top: 18px;
    display: flex;
    font-weight: bold;
}
.testimonialcont {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mothercontainer4 {
    background-color: rgb(255, 255, 255);
    padding: 70px;
}

.ctacont {
    font-size: 20px;
    padding: 40px;
    color: white;
    background-color: rgb(15, 133, 141);;
}

.signup {
    background-color: white;
    margin-left: 16px;
    margin-top: 12px;
    color: rgb(30, 147, 214) ;
    width: 140px;
}